/* Navbar.css */

.navbar {
  background-color: #333;
  color: #fff;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
}

.cart {
  font-size: 24px;
}